.index-button-to-quiz {
  width: 150px;
  height: 50px;
  background-color: tomato;
  margin-bottom: 1em;
  border: 1px solid tomato;
  border-radius: 3px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.index-button-to-profile {
  width: 150px;
  height: 50px;
  background-color: steelblue;
  border: 1px solid steelblue;
  border-radius: 3px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
