.start-quiz-button, .next, .go-back {
  background-color: tomato;
  border: 1px solid tomato;
  color: #ffffff;
  @include button-styles();
}

.index-button-to-quiz, .new-player {
  @include button-styles();
  background-color: #2E4057;
  border: 1px solid #2E4057;
  color: white;
}

.index-button-to-profile, .new-user-submit {
  @include button-styles();
  background-color: steelblue;
  border: 1px solid steelblue;
  color: #ffffff;
}

.new-player-input {
  width: 175px;
  height: 50px;
}

.this-human {
  @include button-styles();
  background-color: lightgray;
  border: 1px solid lightgray;
  color: #888888;
}
