<div class="index-container">
  <form class="" action="/players/create" method="post">
    <input class="new-player-input" type="text" name="player_name" value="" placeholder="Name">
    <button class="new-player" type="submit" name="button">Play!</button>
  </form>

  <!-- <a href="/users/new"><button  class="index-button-to-profile" type="button" name="button">Create Profile</button></a> -->
</div>
