<form class="" action="/players/create" method="post">
  <input class="new-player-input" type="text" name="player_name" value="" placeholder="Name">
  <button class="new-player" type="submit" name="button">Play!</button>
</form>
