<h1>New Question</h1>

<form class="" action="/questions/create" method="post">
  <label for="prompt">Prompt
    <input type="text" name="prompt" value="" placeholder="Prompt">
  </label>
  <!-- <input type="text" name="topic" value=""> -->
  <label for="topic">Topic
    <select name="topic" placeholder="topic">
      <option value="tranportation">Transportation</option>
      <option value="lunch">Lunch</option>
      <option value="first_name">First Name</option>
      <option value="ninth_floor">Ninth Floor</option>
      <option value="track">Track</option>
      <option value="pokemon">Pokemon</option>
      <option value="sleeping">Sleeping</option>
      <option value="temperature">Temperature</option>
    </select>
  </label>
  <label for="target">Target
    <input type="text" name="target" value="" placeholder="target">
  </label>
  <button type="submit" name="button">Add Question</button>
</form>
