<div class="quiz-container">
  <h2>Which person has been to 9th floor bathroom?</h2>
  <div class="quiz-pictures">
    <div class="picture"></div>
    <div class="picture"></div>
  </div>
  <a href="quiz5.html"><button class="next" type="button" name="button">Next</button></a>
</div>
