<div class="quiz-container">
  <h2>Which person is doing C#?</h2>
  <div class="quiz-pictures">
    <div class="picture"></div>
    <div class="picture"></div>
  </div>
  <a href="quiz4.html"><button class="next" type="button" name="button">Next</button></a>
</div>
