<div class="result-container">
  <h1>Thank you for playing Ice Pick!</h1>
  <p>Get to know your classmates</p>

  <form class="" action="/player/<%=@player.id%>/reset" method="post">
    <button class="start-quiz-button" type="submit" name="button">Play Ice Pick Again!</button>
  </form>

  <!-- <h1>score <%=@player.score()%></h1> -->
  <h1>Score: <%=@player.score%> out of: <%=@player.counter%> </h1>

</div>
