<div class="result-container">
  <h1>Thank you for taking the quiz!</h1>
  <p>You know your classmates 80%</p>
  <a href="quiz1.html"><button class="start-quiz-button" type="button" name="button">Take the quiz again!</button></a>
</div>
