<div class="result-container">
  <h1>Thank you for taking the quiz!</h1>

  <form class="" action="/player/<%=@player.id%>/reset" method="post">
    <button class="start-quiz-button" type="submit" name="button">Take the quiz again!</button>
  </form>

  <h1>score <%=@player.score()%></h1>

</div>
