

    <div class="profile-wrap">
      <header>
        <p>Your answers will be shared with classmates. Feel free to answer only questions you are comfortable sharing with.</p>
      </header>
      <div class="profile-container">
        <form class="create-profile" action="/user/<%=@user.id%>" method="post">
          <input type="hidden" name="_method" value="patch">
          <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" value="<%=@user.first_name%>">
          </div>
          <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" value="<%=@user.last_name%>">
          </div>
          <div class="form-group">
            <label for="track">Your Track:</label>
            <select class="track" name="track">
              <option value="ruby">Ruby</option>
              <option value="C#">C#</option>
              <option value="CSS">CSS</option>
              <option value="Android">Android</option>
            </select>
          </div>
          <div class="form-group">
            <label for="transportation">How to you get to school?</label>
            <select name="transportation">
              <option value="bike">By bike</option>
              <option value="bus">By bus</option>
              <option value="max">By MAX</option>
              <option value="walk">Walking</option>
              <option value="drive">Driving</option>
            </select>
          </div>
          <div class="form-group">
            <label for="lunch">Do you bring your lunch or go to the food carts?</label>
            <select name="lunch">
              <option value="bring" >I bring lunch</option>
              <option value="carts" >Go to food carts</option>
              <option value="50:50" >50:50</option>
            </select>
          </div>
          <div class="form-group">
            <label for="ninth_floor">Have you been to the 9th floor bathroom?</label>
            <select name="ninth_floor">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
          <div class="form-group">
            <label for="pokemon">Do you play Pokémon GO?</label>
            <select name="pokemon">
              <option value="yes">yes</option>
              <option value="no">no</option>
            </select>
          </div>
          <div class="form-group">
            <label for="temperature">The temperature of the computer room is...</label>
            <select name="temperature">
              <option value="hot">Too Hot</option>
              <option value="right">Just Right</option>
              <option value="cold" selected>Too Cold</option>
            </select>
          </div>
          <div class="form-group">
            <label for="sleeping">Have you ever napped or slept on the Epicodus couches?</label>
            <select name="sleeping">
              <option value="yes">yes</option>
              <option value="no">no</option>
            </select>
          </div>
          <button class="new-user-submit" type="submit" name="button">Submit</button>
          <button class="go-back" type="button" name="button">Go back</button>
        </form>
      </div>
    </div>
