/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: snow; }

header {
  display: flex;
  justify-content: center;
  padding: 3%;
  color: darkred;
  font-size: 1.2em; }

.index-container, .profile2-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.profile-wrap {
  width: 80%;
  height: 100%;
  margin: 0 auto; }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  padding: 3%; }

.form-group {
  margin: 1%; }

input {
  font-size: 1em;
  border-radius: 0.3em;
  border: 1px solid #111;
  background: transparent;
  width: 150px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none; }

input:focus, select:focus {
  border: 2px solid darkgrey; }

select {
  border: 1px solid #111;
  background: transparent;
  width: 150px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none; }

.index-button-to-quiz, .start-quiz-button, .next, .go-back {
  width: 175px;
  height: 50px;
  background-color: tomato;
  border: 1px solid tomato;
  border-radius: 3px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1em;
  font-size: 1em; }

.index-button-to-profile, .new-user-submit {
  width: 175px;
  height: 50px;
  margin-top: 1em;
  background-color: steelblue;
  border: 1px solid steelblue;
  border-radius: 3px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em; }

.burger {
  margin-top: 5%;
  position: relative;
  width: 497px;
  height: 459px; }

.burger-layers img {
  position: absolute; }

.burger-bite1, .burger-bite2, .burger-bite3, .burger-bite4, .burger-bite5, .burger-bite6 {
  position: absolute;
  border-radius: 50%;
  background: snow;
  opacity: 0; }

.burger-bite1, .burger-bite2, .burger-bite3 {
  animation: burgerBite 100s;
  animation-delay: 3s; }

.burger-bite4, .burger-bite5, .burger-bite6 {
  animation: burgerBite 99s;
  animation-delay: 4s; }

.burger-bite1 {
  top: -8%;
  left: 50%;
  width: 150px;
  height: 150px; }

.burger-bite2 {
  top: -11%;
  left: 59%;
  width: 300px;
  height: 300px; }

.burger-bite3 {
  top: 38%;
  left: 83%;
  width: 150px;
  height: 150px; }

.burger-bite4 {
  top: -10%;
  left: 32%;
  width: 175px;
  height: 175px; }

.burger-bite5 {
  top: -23%;
  left: 42%;
  width: 380px;
  height: 380px; }

.burger-bite6 {
  top: 38%;
  left: 80%;
  width: 175px;
  height: 175px; }

@keyframes burgerBite {
  100% {
    opacity: 1; }
  0.1% {
    opacity: 1; }
  0% {
    opacity: 0; } }
.toilet {
  margin-top: 5%;
  position: relative;
  width: 281px;
  height: 433px; }

.toilet-bowl img {
  position: absolute; }

.toilet-flush img {
  position: absolute;
  top: 8%;
  left: 3%;
  -webkit-animation: flush 5s linear infinite;
  -webkit-transform-origin: 80% 50% 0;
  transform-origin: 80% 50% 0; }

@-webkit-keyframes flush {
  100% {
    -webkit-transform: rotate(0deg); }
  95% {
    -webkit-transform: rotate(-23deg); }
  5% {
    -webkit-transform: rotate(-45deg); }
  0% {
    -webkit-transform: rotate(0deg); } }
.bicycle {
  margin-top: 5%;
  width: 794px;
  height: 451px;
  position: relative; }

.bicycle-frame img {
  position: absolute;
  z-index: 500; }

.bicycle-wheel-front img {
  position: absolute;
  top: 39%;
  left: 0.05%;
  z-index: 499;
  -webkit-animation: rotate 3s linear infinite; }

.bicycle-crank img {
  position: absolute;
  top: 68%;
  left: 44%;
  z-index: 501;
  -webkit-animation: rotateCrank 2.5s linear infinite; }

.bicycle-wheel-rear img {
  position: absolute;
  top: 39%;
  left: 62.05%;
  z-index: 499;
  -webkit-animation: rotate 3s linear infinite; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(-360deg); }
  0% {
    -webkit-transform: rotate(0deg); } }
@-webkit-keyframes rotateCrank {
  100% {
    -webkit-transform: rotate(-720deg); }
  0% {
    -webkit-transform: rotate(0deg); } }
.nametag-container {
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 322px;
  z-index: 1; }

.nametag-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-animation: cardFlip 2.5s linear infinite; }

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; }

.face.back {
  display: block;
  transform: rotateX(180deg);
  box-sizing: border-box; }

@keyframes cardFlip {
  100% {
    -webkit-transform: rotateX(180deg); }
  0% {
    -webkit-transform: rotateX(0deg); } }
h1 {
  font-size: 1.5em; }

.picture {
  width: 30em;
  height: 30em;
  background: tomato;
  margin: 1%; }

.quiz-container, .result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto; }
  .quiz-container h2, .result-container h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 3%;
    font-size: 1.5em; }

.quiz-pictures {
  display: flex;
  justify-content: center; }

.result-container {
  padding: 3%; }
  .result-container h1 {
    font-size: 2em; }
  .result-container p {
    font-size: 1.5em;
    line-height: 2em; }

/*# sourceMappingURL=main.css.map */
