/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: snow; }

header {
  display: flex;
  justify-content: center;
  padding: 3%;
  color: darkred;
  font-size: 1.2em; }

.index-container, .profile2-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.container-user-show {
  padding: 3%;
  display: flex;
  flex-direction: column; }
  .container-user-show h1 {
    margin-bottom: 5%;
    text-transform: capitalize; }
  .container-user-show h6 {
    margin-bottom: 5%;
    text-transform: capitalize; }
  .container-user-show img {
    width: 300px;
    height: 300px;
    margin-bottom: 5%; }
  .container-user-show a, .container-user-show form button {
    width: 175px;
    height: 50px;
    background-color: steelblue;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    margin: 0 auto;
    padding: 15px 30px; }
  .container-user-show form button {
    background-color: tomato;
    border: 1px solid tomato; }

.profile-wrap {
  width: 80%;
  height: 100%;
  margin: 0 auto; }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  padding: 3%; }

.form-group {
  margin: 1%; }

input {
  font-size: 1em;
  border-radius: 0.3em;
  border: 1px solid #111;
  background: transparent;
  width: 150px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none; }

input:focus, select:focus {
  border: 2px solid darkgrey; }

select {
  border: 1px solid #111;
  background: transparent;
  width: 150px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none; }

.start-quiz-button, .next, .go-back {
  background-color: tomato;
  border: 1px solid tomato;
  color: #ffffff;
  width: 175px;
  height: 50px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1em;
  font-size: 1em; }

.index-button-to-quiz, .new-player {
  width: 175px;
  height: 50px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1em;
  font-size: 1em;
  background-color: #2E4057;
  border: 1px solid #2E4057;
  color: white; }

.index-button-to-profile, .new-user-submit {
  width: 175px;
  height: 50px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1em;
  font-size: 1em;
  background-color: steelblue;
  border: 1px solid steelblue;
  color: #ffffff; }

.new-player-input {
  width: 175px;
  height: 50px; }

.this-human {
  width: 175px;
  height: 50px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1em;
  font-size: 1em;
  background-color: lightgray;
  border: 1px solid lightgray;
  color: #888888; }

.burger {
  margin-top: 7%;
  position: relative;
  width: 497px;
  height: 459px; }

.burger-layers img {
  position: absolute; }

.burger-bite1, .burger-bite2, .burger-bite3, .burger-bite4, .burger-bite5, .burger-bite6 {
  position: absolute;
  border-radius: 50%;
  background: snow;
  opacity: 0; }

.burger-bite1, .burger-bite2, .burger-bite3 {
  animation: burgerBite 100s;
  animation-delay: 2s; }

.burger-bite4, .burger-bite5, .burger-bite6 {
  animation: burgerBite 99s;
  animation-delay: 3s; }

.burger-bite1 {
  top: -8%;
  left: 50%;
  width: 150px;
  height: 150px; }

.burger-bite2 {
  top: -11%;
  left: 59%;
  width: 300px;
  height: 300px; }

.burger-bite3 {
  top: 38%;
  left: 83%;
  width: 150px;
  height: 150px; }

.burger-bite4 {
  top: -10%;
  left: 32%;
  width: 175px;
  height: 175px; }

.burger-bite5 {
  top: -23%;
  left: 42%;
  width: 380px;
  height: 380px; }

.burger-bite6 {
  top: 38%;
  left: 80%;
  width: 175px;
  height: 175px; }

@keyframes burgerBite {
  100% {
    opacity: 1; }
  0.1% {
    opacity: 1; }
  0% {
    opacity: 0; } }
.toilet {
  margin-top: 5%;
  position: relative;
  width: 281px;
  height: 433px; }

.toilet-bowl img {
  position: absolute; }

.toilet-flush img {
  position: absolute;
  top: 8%;
  left: 3%;
  -webkit-animation: flush 5s linear infinite;
  -webkit-transform-origin: 80% 50% 0;
  transform-origin: 80% 50% 0; }

@-webkit-keyframes flush {
  100% {
    -webkit-transform: rotate(0deg); }
  95% {
    -webkit-transform: rotate(-23deg); }
  5% {
    -webkit-transform: rotate(-45deg); }
  0% {
    -webkit-transform: rotate(0deg); } }
.bicycle {
  margin-top: 5%;
  width: 794px;
  height: 451px;
  position: relative; }

.bicycle-frame {
  width: 100%;
  height: auto;
  z-index: 500; }

.bicycle-wheel-front {
  width: 302px;
  height: 302px;
  position: absolute;
  top: 33.5%;
  left: 0%;
  z-index: -9;
  -webkit-animation: rotate 3s linear infinite; }

.bicycle-crank {
  width: 143px;
  height: 143px;
  position: absolute;
  top: 54%;
  left: 44.55%;
  z-index: 501;
  -webkit-animation: rotateCrank 2.5s linear infinite; }

.bicycle-wheel-rear {
  width: 302px;
  height: 302px;
  position: absolute;
  top: 33.5%;
  left: 62.5%;
  z-index: -9;
  -webkit-animation: rotate 3s linear infinite; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(-360deg); }
  0% {
    -webkit-transform: rotate(0deg); } }
@-webkit-keyframes rotateCrank {
  100% {
    -webkit-transform: rotate(-720deg); }
  0% {
    -webkit-transform: rotate(0deg); } }
.nametag-container {
  margin-top: 5%;
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 322px;
  z-index: 1; }

.nametag-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-animation: cardFlip 2.5s linear infinite; }

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; }

.face.back {
  display: block;
  transform: rotateX(180deg);
  box-sizing: border-box; }

@keyframes cardFlip {
  100% {
    -webkit-transform: rotateX(180deg); }
  0% {
    -webkit-transform: rotateX(0deg); } }
.computer-container {
  margin-top: 5%;
  width: 1373px;
  heigth: 362px;
  position: relative; }

.ruby, .c-sharp, .css, .android {
  width: 128px;
  height: 128px;
  position: absolute; }

.ruby {
  top: 18%;
  left: 32%;
  -webkit-animation: rubyAnimation 3s linear infinite;
  animation-delay: 0.5s; }

.c-sharp {
  top: 18%;
  left: 79%;
  -webkit-animation: csharpAnimation 3s linear infinite;
  animation-delay: 0.5s; }

.css {
  bottom: 5.5%;
  left: 7.5%;
  -webkit-animation: cssAnimation 3s linear infinite;
  animation-delay: 0.5s; }

.android {
  bottom: 10%;
  left: 55.5%;
  -webkit-animation: androidAnimation 3s linear infinite;
  animation-delay: 0.5s; }

@keyframes rubyAnimation {
  20% {
    opacity: 0; }
  50% {
    opacity: 1; }
  50% {
    left: 79%; }
  100% {
    left: 79%; }
  0% {
    left: 32%; } }
@keyframes csharpAnimation {
  20% {
    opacity: 0; }
  50% {
    opacity: 1; }
  50% {
    left: 32%; }
  100% {
    left: 32%; }
  0% {
    left: 79%; } }
@keyframes cssAnimation {
  20% {
    opacity: 0; }
  50% {
    opacity: 1; }
  50% {
    left: 55.5%; }
  100% {
    left: 55.5%; }
  0% {
    left: 7.5%; } }
@keyframes androidAnimation {
  20% {
    opacity: 0; }
  50% {
    opacity: 1; }
  50% {
    left: 7.5%; }
  100% {
    left: 7.5%; }
  0% {
    left: 55.5%; } }
/*=============== POKEMON ANIMATION ===============*/
.pokemon {
  margin: 10px auto;
  width: 960px;
  height: 500px; }

.pokemon-roll {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1; }

.pokemon-ball {
  position: relative;
  width: 480px;
  height: 100%;
  z-index: 1; }

.pokemon-ball img#pokemon-ball {
  position: absolute;
  top: 50%;
  left: 35%;
  z-index: 550;
  -webkit-animation: pokemonRoll 5s infinite;
  -webkit-animation: pokemonRotate 5s infinite;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0; }

.pokemon-ball img#pokemon-ball-red {
  position: absolute;
  top: 50%;
  left: 35%;
  z-index: 600;
  opacity: 0;
  -webkit-animation: pokemonRoll 5s infinite;
  -webkit-animation: pokemonNo 5s infinite; }

.pokemon-character {
  position: relative;
  width: 480px;
  height: 100%;
  z-index: 1; }

.pokemon-character img#pokemon-character {
  position: absolute;
  top: 10%;
  left: 25%;
  z-index: 500; }

.pokemon-character img#pokemon-character-tail {
  position: absolute;
  top: 10%;
  left: 25%;
  z-index: 450;
  -webkit-animation: pokemonTail 2.5s infinite; }

@keyframes pokemonNo {
  100% {
    opacity: 0; }
  90% {
    opacity: 1; }
  80% {
    opacity: 0; }
  70% {
    opacity: 1; }
  60% {
    opacity: 0; }
  50% {
    opacity: 1; }
  40% {
    opacity: 0; }
  30% {
    opacity: 1; }
  20% {
    opacity: 0; }
  10% {
    opacity: 1; }
  0% {
    opacity: 0; } }
@keyframes pokemonRotate {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  50% {
    transform: rotate(325deg);
    -webkit-transform: rotate(325deg); }
  100% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); } }
@keyframes pokemonRoll {
  0% {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%); }
  50% {
    transform: translateX(50%);
    -webkit-transform: translateX(50%); }
  100% {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%); } }
@keyframes pokemonTail {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.125); }
  100% {
    transform: scale(1); } }
/*=============== SLEEP ANIMATION ===============*/
.sleep-animation {
  margin-top: 5%;
  width: 830px;
  height: 405px;
  position: relative; }

.couch {
  width: 100%;
  height: auto; }

.napper {
  width: 830px;
  height: 405px;
  position: absolute;
  top: 10%;
  left: 0%; }

.arm {
  width: 830px;
  height: 405px;
  position: absolute;
  top: 10%;
  left: 0%;
  -webkit-animation: sleeping 2.5s linear infinite;
  -webkit-transform-origin: 50% 50% 100;
  transform-origin: 50% 50% 100; }

@keyframes sleeping {
  25% {
    -webkit-transform: rotate(1deg); }
  50% {
    -webkit-transform: rotate(1deg); }
  75% {
    -webkit-transform: rotate(-1deg); }
  100% {
    -webkit-transform: rotate(-1deg); } }
/*=============== TEMPERATURE ANIMATION ===============*/
.thermometer {
  margin-top: 5%;
  width: 944px;
  height: 472px;
  position: relative; }

.thermometer-base {
  width: 100%;
  height: auto; }

.temp1 {
  width: 944px;
  height: 472px;
  position: absolute;
  top: 10%;
  left: 0%;
  -webkit-animation: thermometerHigher 2s linear infinite;
  animation-delay: 1s; }

.temp2 {
  width: 944px;
  height: 472px;
  position: absolute;
  top: -10%;
  left: 0%;
  -webkit-animation: thermometerLower 2s linear infinite;
  animation-delay: 1s; }

.thermometer-lines {
  width: 944px;
  height: 472px;
  position: absolute;
  top: 0;
  left: 0; }

@keyframes thermometerLower {
  50% {
    top: -5%; }
  100% {
    top: 0%; } }
@keyframes thermometerHigher {
  50% {
    top: 5%; }
  100% {
    top: 0%; } }
.index-container {
  width: 100%;
  height: auto;
  background: url("/img/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.index-container input {
  border: 1px solid #111;
  background: transparent;
  width: 150px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background: lightgrey;
  width: 175px;
  height: 50px;
  color: #2E4057;
  font-size: 1em;
  border-radius: 3px; }

h1 {
  font-size: 1.5em; }

.picture {
  width: 30em;
  height: 30em;
  margin: 1%; }
  .picture img {
    width: 100%;
    height: auto; }

.quiz-container, .result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto; }
  .quiz-container h2, .result-container h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 3%;
    font-size: 1.5em; }

.quiz-pictures {
  display: flex;
  justify-content: center; }

.result-container {
  padding: 3%; }
  .result-container h1 {
    font-size: 2em; }
  .result-container p {
    font-size: 1.5em;
    line-height: 2em; }

.win {
  z-index: 100000;
  font-size: 4em;
  color: #488B49;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%); }

.lose {
  z-index: 100000;
  font-size: 4em;
  color: red;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%); }

/*# sourceMappingURL=main.css.map */
