.picture {
  width: 30em;
  height: 30em;
  margin: 1%;
  & img {
    width: 100%;
    height: auto;
  }
}

.quiz-container, .result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  & h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 3%;
    font-size: 1.5em;
  }
}

.quiz-pictures {
  display: flex;
  justify-content: center;
}

.result-container {
  padding: 3%;
  & h1 {
    font-size: 2em;
  }
  & p {
    font-size: 1.5em;
    line-height: 2em;
  }
}

.win {
  z-index: 100000;
  font-size: 4em;
  color: #488B49;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.lose {
  z-index: 100000;
  font-size: 4em;
  color: red;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}
